button.newProject {
  font-family: 'minecraftia','Helvetica Neue Light','Helvetica Neue','Helvetica','Arial',sans-serif;
  text-align: center;
  background: none;
  border: none;
  outline: none;
  border-radius: 2px;
  padding: 10px;
  font-size: 1em;
  text-decoration: none;
  transition-duration: 0.1s;
  color: #bbb;
  background-color: #313131;
  box-shadow: 0 5px 0 0 #707070;
}

button.newProject:active {
  background-color: #494747;
  transform: translateY(4px);
  box-shadow: 0 1px 0 0 #707070;
}

.newProject {
  width: 13%;
  margin-left: 10px;
  margin-bottom: 10px;
}

button.clear {
  font-family: 'minecraftia','Helvetica Neue Light','Helvetica Neue','Helvetica','Arial',sans-serif;
  text-align: center;
  background: none;
  border: none;
  outline: none;
  border-radius: 2px;
  padding: 10px;
  font-size: 1em;
  text-decoration: none;
  transition-duration: 0.1s;
  color: #bbb;
  background-color: #313131;
  box-shadow: 0 5px 0 0 #707070;
}

button.clear:active {
  background-color: #494747;
  transform: translateY(4px);
  box-shadow: 0 1px 0 0 #707070;
}

.clear {
  width: 13%;
  margin-left: 10px;
  margin-bottom: 10px;
}

button.upload {
  font-family: 'minecraftia','Helvetica Neue Light','Helvetica Neue','Helvetica','Arial',sans-serif;
  text-align: center;
  background: none;
  border: none;
  outline: none;
  border-radius: 2px;
  padding: 10px;
  font-size: 1em;
  text-decoration: none;
  transition-duration: 0.1s;
  color: #bbb;
  background-color: #313131;
  box-shadow: 0 5px 0 0 #707070;
}

button.upload:active {
  background-color: #494747;
  transform: translateY(4px);
  box-shadow: 0 1px 0 0 #707070;
}

.upload {
  width: 13%;
  margin-left: 10px;
  margin-bottom: 10px;
}

button.frames-list-add {
  font-family: 'minecraftia','Helvetica Neue Light','Helvetica Neue','Helvetica','Arial',sans-serif;
  text-align: center;
  background: none;
  border: none;
  outline: none;
  border-radius: 2px;
  padding: 10px;
  font-size: 1em;
  text-decoration: none;
  transition-duration: 0.1s;
  color: #bbb;
  background-color: #313131;
  box-shadow: 0 5px 0 0 #707070;
}

button.frames-list-add:active {
  background-color: #494747;
  transform: translateY(4px);
  box-shadow: 0 1px 0 0 #707070;
}

button.save {
  font-family: 'minecraftia','Helvetica Neue Light','Helvetica Neue','Helvetica','Arial',sans-serif;
  text-align: center;
  background: none;
  border: none;
  outline: none;
  border-radius: 2px;
  padding: 10px;
  font-size: 1em;
  text-decoration: none;
  transition-duration: 0.1s;
  color: #bbb;
  background-color: #313131;
  box-shadow: 0 5px 0 0 #707070;
}

button.save:active {
  background-color: #494747;
  transform: translateY(4px);
  box-shadow: 0 1px 0 0 #707070;
}

.save {
  width: 13%;
  margin-left: 10px;
  margin-bottom: 10px;
}

.undo-redo {
  display: inline-block;
  margin: 10px;
  width: 100%;
}

button.undo {
  text-align: center;
  background: none;
  border: none;
  outline: none;
  border-radius: 2px;
  padding: 10px;
  font-size: 1em;
  text-decoration: none;
  transition-duration: 0.1s;
  color: #bbb;
  background-color: #313131;
  box-shadow: 0 5px 0 0 #707070;
}

button.undo:active {
  background-color: #494747;
  transform: translateY(4px);
  box-shadow: 0 1px 0 0 #707070;
}

.undo-container {
  display: inline-block;
  width: 40%;
  margin-right: 30px;
}

.undo {
  width: 100%;
}

button.redo {
  text-align: center;
  background: none;
  border: none;
  outline: none;
  border-radius: 2px;
  padding: 10px;
  font-size: 1em;
  text-decoration: none;
  transition-duration: 0.1s;
  color: #bbb;
  background-color: #313131;
  box-shadow: 0 5px 0 0 #707070;
}

button.redo:active {
  background-color: #494747;
  transform: translateY(4px);
  box-shadow: 0 1px 0 0 #707070;
}

.redo-container {
  display: inline-block;
  width: 40%;
}

.redo {
  width: 100%;
}

button.popup-close {
  font-family: 'minecraftia','Helvetica Neue Light','Helvetica Neue','Helvetica','Arial',sans-serif;
  text-align: center;
  background: none;
  border: none;
  outline: none;
  border-radius: 2px;
  padding: 10px;
  font-size: 1em;
  text-decoration: none;
  transition-duration: 0.1s;
  color: #bbb;
  background-color: #313131;
  box-shadow: 0 5px 0 0 #707070;
}

button.popup-close:active {
  background-color: #494747;
  transform: translateY(4px);
  box-shadow: 0 1px 0 0 #707070;
}


button.download {
  font-family: 'minecraftia','Helvetica Neue Light','Helvetica Neue','Helvetica','Arial',sans-serif;
  text-align: center;
  background: none;
  border: none;
  outline: none;
  border-radius: 2px;
  padding: 10px;
  font-size: 1em;
  text-decoration: none;
  transition-duration: 0.1s;
  color: #bbb;
  background-color: #313131;
  box-shadow: 0 5px 0 0 #707070;
}

button.download:active {
  background-color: #494747;
  transform: translateY(4px);
  box-shadow: 0 1px 0 0 #707070;
}

.download {
  display: inline-block;
  width: 120px;
  margin-bottom: 10px;
  margin-left: 25px
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) { 
  .save {
    width: 40%;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .clear {
    width: 40%;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .newProject {
    width: 40%;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .upload {
    width: 40%;
    margin-left: 10px;
    margin-bottom: 10px;
  }
}

@media only screen 
and (min-device-width : 480px) 
and (max-device-width : 768px) { 
  .save {
    width: 28%;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .clear {
    width: 28%;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .newProject {
    width: 28%;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .upload {
    width: 28%;
    margin-left: 10px;
    margin-bottom: 10px;
  }
}