button.newProject {
  font-family: 'minecraftia','Helvetica Neue Light','Helvetica Neue','Helvetica','Arial',sans-serif;
  text-align: center;
  background: none;
  border: none;
  outline: none;
  border-radius: 2px;
  padding: 10px;
  font-size: 1em;
  text-decoration: none;
  transition-duration: 0.1s;
  color: #bbb;
  background-color: #313131;
  box-shadow: 0 5px 0 0 #707070;
}

button.newProject:active {
  background-color: #494747;
  transform: translateY(4px);
  box-shadow: 0 1px 0 0 #707070;
}

.newProject {
  width: 150px;
  margin-left: 10px
}

button.clear {
  font-family: 'minecraftia','Helvetica Neue Light','Helvetica Neue','Helvetica','Arial',sans-serif;
  text-align: center;
  background: none;
  border: none;
  outline: none;
  border-radius: 2px;
  padding: 10px;
  font-size: 1em;
  text-decoration: none;
  transition-duration: 0.1s;
  color: #bbb;
  background-color: #313131;
  box-shadow: 0 5px 0 0 #707070;
}

button.clear:active {
  background-color: #494747;
  transform: translateY(4px);
  box-shadow: 0 1px 0 0 #707070;
}

.clear {
  width: 150px;
  margin-left: 10px
}

button.upload {
  font-family: 'minecraftia','Helvetica Neue Light','Helvetica Neue','Helvetica','Arial',sans-serif;
  text-align: center;
  background: none;
  border: none;
  outline: none;
  border-radius: 2px;
  padding: 10px;
  font-size: 1em;
  text-decoration: none;
  transition-duration: 0.1s;
  color: #bbb;
  background-color: #313131;
  box-shadow: 0 5px 0 0 #707070;
}

button.upload:active {
  background-color: #494747;
  transform: translateY(4px);
  box-shadow: 0 1px 0 0 #707070;
}

.upload {
  width: 150px;
  margin-left: 10px
}

button.frames-list-add {
  font-family: 'minecraftia','Helvetica Neue Light','Helvetica Neue','Helvetica','Arial',sans-serif;
  text-align: center;
  background: none;
  border: none;
  outline: none;
  border-radius: 2px;
  padding: 10px;
  font-size: 1em;
  text-decoration: none;
  transition-duration: 0.1s;
  color: #bbb;
  background-color: #313131;
  box-shadow: 0 5px 0 0 #707070;
}

button.frames-list-add:active {
  background-color: #494747;
  transform: translateY(4px);
  box-shadow: 0 1px 0 0 #707070;
}

.eraser {
  display: inline-block;
  text-align: center;
  font-size: 30px;
  height: 50px;
  width: 50px;
}

.eraser.active {
  background-color: darkgray;
}

.bucket {
  display: inline-block;
  text-align: center;
  font-size: 30px;
  height: 50px;
  width: 50px;
}

.bucket.active {
  background-color: darkgray;
}

.eye-dropper {
  display: inline-block;
  text-align: center;
  font-size: 30px;
  height: 50px;
  width: 50px;
}

.eye-dropper.active {
  background-color: darkgray;
}

.color-picker {
  display: inline-block;
  text-align: center;
  font-size: 30px;
  height: 50px;
  width: 50px;
}

.color-picker.active {
  background-color: darkgray;
}
