.frames-handler {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-bottom: 2em;
    min-height: 0px;
}

.frames-list-content {
    background-color: darkgrey;
    display: flex;
    flex: 1;
    min-height: 0;
    overflow: scroll;
}

.frames-list-add {
    display: flex;
    min-height: 0px;
    height: 20px;
    width: 120px;
    margin-bottom: 10px;
}

.frames-list-add > div {
    width: 100%;
    text-align: center;
}

.frame {
    border: 1px solid grey;
    border-radius: 2px;
    padding: 4px;
}

.preview {
  border: 1px solid grey;
  background-color: silver;
  color: white;
  width: 80px;
  height: 90px;
  margin: 0 0.3em;
  flex: 0 0 auto;
  display: inline-block;
  position: relative;
  overflow: hidden;
  opacity: 0.4;
}

.frame-add {
    display: inline-block;
    font-size: 20px;
    height: 20px;
    width: 20px;
}

.frame-delete {
    display: inline-block;
    font-size: 20px;
    height: 20px;
    width: 20px;
}