.frames-handler {
    background-color: darkgrey;
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    min-height: 0px;
}

.frames-list-content {
    display: flex;
    flex: 1;
    min-height: 0;
    overflow: scroll;
}

.frames-list-add {
    display: flex;
    min-height: 0px;
    height: 20px;
    width: 120px;
}

.frame {
    border: 1px solid grey;
    border-radius: 2px;
    padding: 8px;
    margin-bottom: 5px;
}

.preview {
  border: 1px solid grey;
  background-color: silver;
  color: white;
  width: 70px;
  height: 84px;
  margin: 0 0.3em;
  flex: 0 0 auto;
  display: inline-block;
  position: relative;
  overflow: hidden;
  opacity: 0.4;
}

.frame-add {
    display: inline-block;
}

.frame-delete {
    display: inline-block;
}