.popup-content {
    height: 100%;
    width: 100%;
}

.popup-content.hide {
    display: none;
}

.popup-close {
    position: relative;
    float: right;
	color: black;
    top: 10px;
    right: 20px;
    cursor: pointer;
    width: 40px;
}

.popup-header {
    display: inline-block;
    width: 100%;
    padding-top: 10px;
    text-align: center;
}

.preview-content {
    width: 400px;
    height: 100%;
    margin: 30px auto;
}

.preview-frame {
    display: inline-block;
    margin: auto
}

.preview-frame.only {
    display: inline-block;
    width: 200px;
    margin: 0 100px;
}

.download-button {
    margin: 0 auto;
}

.preview-animation {
    display: inline-block;
    margin-left: 80px;
}