.popup-content {
    height: 100%;
    width: 100%;
}

.popup-content.hide {
    display: none;
}

.popup-close {
    position: relative;
    float: right;
	color: black;
    top: 10px;
    right: 20px;
    cursor: pointer;
    width: 40px;
}

.popup-header {
    display: inline-block;
    width: 100%;
    padding-top: 10px;
    text-align: center;
}
