.cell {
    display: flex;
    float: left;
    border: 2px solid #585858;
    border-width: 0 2px 2px 0;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

button {
    display: flex;
    flex-direction: row;
}

.app {
    width: 90%;
    margin: auto;
    display: flex;
    flex-flow: column;
    height: 100%;
}

.app-content {
    display: flex;
    min-height: 0px;
    width: 100%;
    height: auto;
    flex-direction: row;
    flex : 1;
}

.background {
    position:fixed;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: lightgrey;
}

.side-bar {
    padding-top: 1.6em;
    display: flex;
    float: left;
    min-height: 0;
    width: 150px;
}

.canvas {
    display: flex;
    padding: 10px;
    margin: 0 ,auto;
}

.tools {
    display: flex;
    padding: 10px;
}